* {
	margin: 0;
	padding: 0;
	font-family: Arvo, Arial, sans-serif;
	background-color: #ededed;
}

header {
	text-align: center;
	padding: 20px;
}
/*propriètés photo corps*/
#corps{
	height: 498px;
	width:139px;
	margin: auto;

}
/*propriètés pastilles*/
#disque1, #disque2, #disque3,
#disque4,#disque5,#disque6 {
	position: relative;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: black;
    opacity: 0.5;

}
/*début position pastilles*/
#disque1 {
	top: -420px;
	left: -5px;
}

#disque2 {
	top: -385px;
	left: 100px;
}

#disque3 {
	top: -385px;
	left: -9px;
}

#disque4 {
	top: -410px;
	left: 80px;
}

#disque5 {
	top: -365px;
	left: 23px;
}

#disque6 {
	top: -325px;
	left: 65px;
}
/*fin position pastilles*/

h1 {
	font-size: 38px;
	font-weight: 500;
}

p {
	
	font-size: 14px;
	padding: 15px 10px;
	font-weight: bold;
	
}


 

aside {
	padding-left: 20px;
	float:left;
}

article {
	display: none;
	top: 200px;
}
/*version grand écran*/
@media screen and (min-width: 350px){
	section {
  display: flex;
   justify-content: center;
   padding:30px;

}
p{
	width: 150px;
	line-height: 1.4;
}
#corps{
	margin:0px;
}
}